<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Show Student Score</title>
</head>

<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student Management</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h1 th:text="${student.firstName}"> </h1>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/students/newScore/}+${student.id}" class="btn btn-primary btn-sm mb-3">Add New Score Record for This Student
            </a>
        </div>

    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Subject</th>
            <th>Score</th>
            <th>Teacher</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="a:${abc}">
            <td th:text="${a.subject}"></td>
            <td th:text="${a.score}"></td>
            <td th:text="${a.teacher}"></td>

            <td>
                <a class="btn btn-primary" th:href="@{/students/score/edit/} + ${a.id}" >Update</a>
                <a class="btn btn-danger" th:href="@{/students/score/} +${student.id} +'/' + ${a.id}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>

</html>